<!doctype html>
<head>
  <script type="text/javascript" src="seedrandom.js"></script>
  <script type="text/javascript" src="dat.gui.js"></script>
  <script type="text/javascript" src="Stats.js"></script>
  <script type="text/javascript" src="Box2dWeb-2.1.a.3.js"></script>
  <script type="text/javascript" src="engine.js"></script>
  <script type="text/javascript" src="main.js"></script>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
  <title>Template</title>
  <style>
	  body {
		  background-color:#101010;
	  }
	  #canvas {
		  top:0;
		  bottom:0;
		  left:0;
		  right:0;
		  position:absolute;
	  }
	  #link {
		  position:absolute;
		  bottom:0;
		  right:0;
		  background-color:white;
		  padding:0px 10px;
		  border-radius:5px 0 0 0;
	  }

  </style>
</head>
<body>
	<canvas id="canvas"></canvas>
	<a id="link" href="http://joeba.in">joeba.in</a>
</body>
